{% extends 'base.html'%}

{% block content %}
<p class="lead">  
	<h2 class="lead-text">Success!</h2> 
	
        <div class='row'> 
            <div class="col-md-6 col-md-offset-3">     					 
    			<div class="input-group">
    				<span class="input-group-btn">
 					<a class="btn btn-success btn-copy" alt="Copy to clipboard" data-clipboard-target="#short" data-loading-text="Copied!" autocomplete="off"> Copy </a>
 					</span>
 					<input class="form-control" id="short" value="{{object.get_short_url}}">
 							
 				</div>
 			</div>
 		</div>
 		<div class='row'> 
 			<div class="col-md-4">
    			<h3 class="lead-text">Original URL:</h3>
    		</div>
    		<div class="col-md-8">
    			<h3><input class="form-control" value="{{object.url}}"></h3>
    		</div>
		</div>
		<a class='btn btn-success' href=" /">New Long Url</a>				
</p>
 




{% endblock content %}
